@font-face {
  font-family: "Ethereal";
  src: url("../fonts/ethereal/EtherealDemo-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethereal";
  src: url("../fonts/ethereal/EtherealDemo-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethereal";
  src: url("../fonts/ethereal/EtherealDemo-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethereal";
  src: url("../fonts/ethereal/EtherealDemo-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethereal";
  src: url("../fonts/ethereal/EtherealDemo-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethereal";
  src: url("../fonts/ethereal/EtherealDemo-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}