.hero {
  background-image:
    linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../src/images/hero-img.webp");

  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.hero .hero-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: var(--container-width);
  max-width: 100%;
  margin: var(--nav-height) auto;
  padding: 15vw 2rem;
}

.hero-container h1 {
  font-size: var(--fs-2xl);
  line-height: 1.1;
  font-weight: var(--fw-black);
}

.hero-container p {
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
}

@media (max-width: 480px) {
  .hero {
    background-image:
      linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.7) 50%,
        rgba(0, 0, 0, 0.7) 100%
      ),
      url("../src/images/hero-img.webp");

      background-position-x: right;
      background-position-y: center;
      background-size: cover;
    }

  .hero .hero-container {
    padding: 15vw 1rem;
  }
  .hero-container h1 {
    font-size: var(--fs-xl);
  }

  .hero-container p {
    font-size: var(--fs-p);
  }
}
