.hidden {
  display: none !important;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: 1rem;
  width: clamp(300px, 50vw, 650px);
  height: 50px;
  box-shadow: 0 8px 20px var(--border-color);
  padding-left: 1rem;
}

.search-form.error {
  outline: 1px solid var(--error);
}

.search-form.error input::placeholder {
  color: var(--error);
  font-weight: var(--fw-);
}

.search-form .icon i {
  color: var(--color-black);
  font-size: var(--fs-p);
}

.search-form input {
  background-color: var(--bg-secondary);
  flex: 1;
  padding: 1rem 1.2rem;
  font-size: var(--fs-p);
  border: none;
  outline: none;
  height: 50px;
  transition: all 0.3s ease;
}

.search-form input::placeholder {
  color: var(--color-gray);
  font-weight: var(--fw-medium);
}

.search-form button {
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
  height: 50px;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: var(--fs-small);
  font-weight: var(--fw-medium);
  cursor: pointer;
}

section.container {
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
  animation: fadeIn 0.3s ease;
}

.recipe-display {
  padding-bottom: 5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
